.dark-bg-wrapper {
    background-color: rgb(53, 53, 53);
}

.black-bg-wrapper {
    background-color: #2c2c2c;
}



.search-wrapper .search.btn.btn-success {
    background-color: transparent !important;
    border-color: transparent;
    color: #3dc1d3 ;
}
.search-wrapper .search.btn.btn-success:focus-within,
.search-wrapper .search.btn.btn-success:hover {
    background-color: transparent !important;
    border-color: transparent;
    color: rgba(253, 101, 101, 0.918);
}

.search-wrapper .search.form-control:focus {
    box-shadow: none !important;      /* 그림자(Glow) 효과 제거 */
    border-color: transparent !important; /* 테두리 색상을 기본 회색으로 유지 (또는 원하는 색상) */
    outline: none !important;
}



.sub-link:hover {
    color: rgba(253, 101, 101, 0.918);
    transition: all 0.5s ease;

}

.search-wrapper {
    box-shadow: 0 0 7px #3dc1d3 !important;
   
    border-radius: 0.8em;
    background-color: transparent;
}

.search-wrapper:focus-within {
    box-shadow: 0 0 25px #3dc1d3 !important;
    border-radius: 0.8em !important;
    background-color: transparent !important;   
}

.search-wrapper .search-bar {

    background-color: transparent;
    border: 2px solid transparent !important;
}

.search-wrapper .search-bar:focus {

    background-color: transparent !important;
    border: 0 0 0 transparent;   
}

