.fullStar {
    color: rgb(255, 201, 25);
    font-size: 45px;
    margin-right: 0.2em;
    margin-right: 0.2em;
}
.emptyStar {
    color: rgb(214, 214, 214);
    font-size: 45px;
    margin-right: 0.2em;
    margin-right: 0.2em;
}

.review-wrapper{
    background-color: #f1f2f6;
}

.my_review {
    font-weight: bold;
    font-size: 20px;
}
.my_review > .border {
    border-color: black;
}
.how {
    font-size: 18px;
}
.spo {
    font-size: 18px;
}
.btn-success, .d-grid {
    padding: 1em; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.8em;
    background-color: rgb(15, 126, 0);
    border-color: rgb(15, 126, 0);
}

/* 켜짐 상태 (Checked) 트랙 배경색 변경 */
.form-check-input:checked {
    background-color: #ff7675 !important;
    border-color: #ff7675 !important;
}

/* 켜짐 상태 (Checked) 일 때 스위치에 그림자 생기는 것 방지 */
.form-check-input:focus {
    box-shadow: none !important;
    border-color: #ff7675 !important;
}

.textAA {
    height: 250px;
    font-size: 20px;
    border-radius: 0.8em;
    resize: none !important;
    padding: 1em !important;
}
.textAA:focus {
    box-shadow: 0 0 0 0.15rem rgb(115, 179, 106) !important;
    border: none;
} 
.cate_btn {
    border-radius: 1.5em !important;
}

